<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-0  text-center">
            <a href="https://inspirehep.net/authors/1746560?ui-citation-summary=true">
                <i class="fa-solid fa-info fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Inspire-Hep</p>
            </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1  text-center">
            <a href="https://x.com/JianWang111?s=09">
                <i class="fa-brands fa-x-twitter fa-4x wow bounceIn"></i>
                <p>X</p>
            </a>
            </div>
            <div class="col-lg-2 col-lg-offset-2  text-center">
            <a href=" https://b23.tv/cvjqUCh">
                 <i class="fa-brands fa-bilibili fa-4x wow bounceIn" ></i>
                 <p>Bilibili</p>
            </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1  text-center">
            <a href="https://www.instagram.com/jian_wang_/">
                 <i class="fa-brands fa-instagram fa-4x wow bounceIn" ></i>
                 <p>Instagram</p>
            </a>
            </div>
        </div>
    </div>
</section>
