<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1></h1>
            <hr>
            <p>A new scientific truth does not generally triumph by persuading its opponents and getting them to admit their errors, but rather by its opponents gradually dying out and giving way to a new generation that is raised on it.--Max Planck</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
