<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1></h1>
<hr>
<p style="margin-left:800px;text-align:right;"><span style="color:#b71c1c;font-size:20px;"><strong>There must be something more important in our lives than simply the pursuit of wealth and power -- Andrey Sakharov</strong></span></p>
<p style="margin-left:680px;text-align:right;">&nbsp;</p>
<p style="margin-left:680px;text-align:right;">&nbsp;</p>
<p style="margin-left:680px;text-align:right;">&nbsp;</p>
<p style="margin-left:680px;text-align:right;">&nbsp;</p>
<p style="margin-left:680px;text-align:right;">&nbsp;</p>
<p style="margin-left:680px;text-align:right;">&nbsp;</p>
<p style="margin-left:680px;text-align:right;">&nbsp;</p>
<p style="margin-left:680px;text-align:right;">&nbsp;</p>
<p style="margin-left:680px;text-align:right;">&nbsp;</p>

<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

