<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research Interests</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                   <i class="fa-solid fa-dice-d20 fa-4x wow bounceIn text-primary"></i>
                    <h3>Quantum gravity</h3>
                    <p class="text-muted"> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <i class="fa-solid fa-atom fa-4x wow bounceIn text-primary"></i>
                    <h3>Quantum field theory</h3>
                    <p class="text-muted">  </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa-solid fa-rotate-right fa-4x wow bounceIn text-primary"></i>
                    <h3>UV-IR connections</h3>
                    <p class="text-muted"> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                   <i class="fa-regular fa-circle-dot fa-4x wow bounceIn text-primary"></i>
                    <h3> Positivity bounds </h3>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </div>
</section>
